.d1{
 background-color:black;
 color:red;
 margin:-10px -20px 0px -40px;
 padding:10px 20px 10px 60px;
}

.d2{
  padding:160px 0px 0px 60px;
}

input[type=submit] {
  width: 20%;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit] {
  width: 20%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}
